@import "../../variables";

.filterbar {
  width: 100%;
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey-light;

  &-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &-group {
    position: relative;
  }

  .filters-choice {
    margin-left: 3rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    &_item {
      padding: 1rem 1rem;
      margin-right: 2rem;
      font-weight: 700;
      font-size: 1.4rem;
      color: $grey-dark;
      background-color: rgba(228, 228, 228, 0.26);
      border-radius: 3rem;
      span {
        font-weight: 400;
      }
    }
  }

  @media screen and (max-width: $mobile-width-medium) {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}

.reset-filter {
  color: $grey-dark;
  font-size: 1.4rem;
  margin-left: 2rem;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
