@import "../../../variables";

.signin-form {
  width: 500px;
  height: 550px;
  margin: 5rem auto;
  background: rgb(247, 247, 247);
  background: linear-gradient(
    194deg,
    rgba(247, 247, 247, 1) 65%,
    rgba(255, 198, 157, 1) 100%
  );

  padding: 3rem;
  box-shadow: 2px 2px 1rem rgba(51, 51, 51, 0.281);

  .form-signin {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .google {
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: $mobile-width-medium) {
    width: 90%;

    .l-heading {
      font-size: 3rem;
    }
  }
}
