@import "../../variables";

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid $grey-light;

  .icon-menu {
    display: none;
  }

  &_left {
    display: flex;
    align-items: center;
    z-index: 100;
  }
  &_list {
    display: flex;
    align-items: center;
    margin-right: 5rem;

    .link-homepage {
      display: none;
    }
  }

  .name {
    color: $secondary-color;
    padding-right: 3rem;
    border-right: 1px solid $grey-medium;
    padding-bottom: 0.4rem;
    font-size: 2rem;

    &:hover {
      cursor: default;
    }
  }

  @media screen and (max-width: $mobile-width-small) {
    background-color: rgb(250, 250, 250);
    &_list {
      visibility: hidden;
      transition: visibility 0s, opacity 0.2s, transform 0.3s ease-in-out;
      opacity: 0;
      transform: translateY(-5rem);

      &.show {
        z-index: 99;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    .icon-menu {
      display: block;
      font-size: 3rem;
      color: $grey-medium;
    }

    &_list {
      position: absolute;
      top: 8rem;
      left: 0;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      height: 100vh;
      background-color: rgb(250, 250, 250);

      .link-homepage {
        display: flex;
      }

      li {
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .name {
      padding-left: 2rem;
    }
  }
}
