@import "../../../variables";

.singlePage {
  display: flex;
  flex-direction: column;

  .container {
    width: 110rem;
    margin: 0 auto;
    display: flex;
    &-left {
      max-width: 70rem;
    }

    &-right {
      width: 40%;
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    h1 {
      flex-basis: 1;
    }
    .owner {
      padding-left: 5rem;
      flex-basis: 0.6;
    }
  }

  &_highlights {
    padding: 2rem 0;
    border-bottom: 1px solid $grey-light;
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      li {
        font-size: 1.6rem;
        color: $grey-dark;
        margin-right: 3rem;
      }
    }
  }

  &_description {
    p {
      line-height: 1.2;
      letter-spacing: 1px;
    }
  }

  &_amenities {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &_rules {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .reviews {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    border-bottom: 1px solid $grey-light;

    &_list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &-star {
        padding-right: 1rem;
      }

      &-number {
        padding: 0 1rem;
        border-left: 1px solid $grey-light;
        span {
          padding: 0 0.5rem;
          font-weight: 700;
          color: $secondary-color;
        }
      }
    }
  }

  .map-section {
    height: 50rem;
    margin-bottom: 6rem;
    border-bottom: 1px solid $grey-light;
  }

  @media screen and (max-width: $mobile-width-medium) {
    .container {
      width: 100%;
      flex-direction: column;
      align-items: center;
      &-left {
        width: 100;
        padding: 0 1rem;
      }

      &-right {
        width: 100%;
      }
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    h1 {
      font-size: 2rem;
      flex-basis: 1;
    }
    .owner {
      padding-left: 5rem;
      flex-basis: 0.6;
    }
  }
}

.section {
  background-color: rgb(255, 250, 246);

  .container {
    width: 70%;
  }
}
