@import "../../variables";

.heroSingle {
  margin: 2rem 0;
  width: 100%;
  height: 60rem;
  overflow: hidden;

  &_grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    overflow: hidden;

    div {
      overflow: hidden;
      border: 1px solid #333;
      position: relative;
      z-index: 1;

      &:hover {
        cursor: pointer;
        img {
          transform: scale(1.04);
          opacity: 0.8;
        }
      }
    }
    .image-1 {
      grid-row: 1 / span 2;

      grid-column: 1 / span 2;
    }

    .image-2 {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
    }

    .image-3 {
      grid-row: 2 / span 1;
      grid-column: 3 / span 1;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
  }

  @media screen and (max-width: $mobile-width-medium) {
    height: auto;

    &_grid {
      display: block;
      .image-2 {
        display: none;
      }
      .image-3 {
        display: none;
      }

      div {
        border: none;
      }
    }
  }
}
