$primary-color: #225b7a;
$primary-color-dark: #184157;
$secondary-color: #ea9a27;
$grey-dark: rgb(61, 61, 61);
$grey-medium: rgb(158, 158, 158);
$grey-light: rgb(231, 231, 231);

$mobile-width-medium: 600px;
$mobile-width-small: 500px;
