@import "../../../variables";

.nav-btn {
  padding: 3rem 1.5rem;
  margin: 0 0.5rem;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom: 3px solid $primary-color;
    cursor: pointer;
  }

  &_label {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
